@import "tailwindcss/base";
@import "tailwindcss/components";
@import "additional-styles/utility-patterns.css";
@import "additional-styles/theme.css";
@import "tailwindcss/utilities";

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, #3498db, #e91e63, #9b59b6, #e74c3c);
}

.fill-gradient {
    fill: url(#gradient);
}

@keyframes swallow {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.animate-swallow {
    animation: swallow 0.3s ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.animate-pulse {
    animation: pulse 0.5s ease-in-out infinite;
}